@mixin flex_between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin mobile() {
  @media screen and (min-width: 300px) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (min-width: 900px) {
    @content;
  }
}
