.onboarding {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/degnky4ab/image/upload/v1722289325/khl2cls1ifyc6tussgke.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.onboarding12 {
  position: absolute;
  width: 60vw;
  margin-left: 9.2rem;
  margin-top: 7rem;
}
.onboarding13 {
  position: absolute;
  width: 80%;
  margin-left: 25rem;
  margin-top: 3rem;
}
.onboarding14 {
  position: absolute;
  margin-top: 7.5rem;
  margin-left: 12.6rem;
  width: 67%;
}
.onboarding29{
    width: 83%;
    margin-left: 6.5rem;
    margin-top: 3rem;
}
