.onboarding {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/degnky4ab/image/upload/v1722289325/khl2cls1ifyc6tussgke.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.well-text {
  position: absolute;
}
.onboarding1 {
  position: absolute;
  width: 120%;
  margin-left: 18rem;
  margin-top: 3rem;
}
.onboarding2 {
  width: 83%;
  margin-left: 6.5rem;
}
.onboarding3 {
  position: absolute;
  width: 60vw;
  margin-left: 9.2rem;
  margin-top: 5rem;
}
.onboarding4 {
  position: absolute;
  width: 57%;
  margin-top: 14rem;
  margin-left: 11rem;
}
.onboarding5 {
  position: absolute;
  margin-top: 8.5rem;
  margin-left: 22rem;
  width: 50%;
}
.onboarding6 {
  position: absolute;
  margin-top: 4.6rem;
  margin-left: 11rem;
  width: 54%;
}
.next-btn button {
  position: absolute;
  margin-top: 38rem;
  margin-left: 67rem;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #ec7242;
  border: white;
  border-radius: 10px;
  font-weight: bolder;
  font-size: larger;
}
button:hover {
  background-color: #ec7242;
  color: #ffffff;
  transform: scale(1.05);
  cursor: pointer;
}
