.carousel {
  // width: 30vw;
}
.carousel .legend {
  text-align: center;
  padding: 10px;
  background-color: none;
  color: black;
}
.carousel1 {
  width: 100%;
  margin-top: 4rem;
  transform: scale();
}
.slide img {
  // width: 2000px;
  height: 400px;
  // margin-top: 70px;
}
// .carousel .slider-wrapper{
//     overflow: visible;
// }
// .carousel .slider .slide{
//     transform: scale(0.8);
//     transition: 0.5s;

// }
.carousel4 {
  margin-top: -12rem;
}
