.onboarding {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/degnky4ab/image/upload/v1722289325/khl2cls1ifyc6tussgke.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.onboarding7 {
  position: absolute;
  width: 60vw;
  margin-left: 9.2rem;
  margin-top: 5rem;
}
.onboarding8 {
  position: absolute;
  width: 100%;
  margin-left: 20rem;
  margin-top: 5rem;
}
.onboarding9 {
  position: absolute;
  margin-top: 6.9rem;
  margin-left: 26rem;
  width: 45%;
}
.onboarding10 {
  position: absolute;
  margin-top: 6.9rem;
  margin-left: 9rem;
  width: 45%;
}
.onboarding11 {
  position: absolute;
  margin-top: 6.9rem;
  margin-left: 17.5rem;
  width: 45%;
}
